*{
    margin-left: 30px;
    padding: 0;
    background-color: gray;
}

.heading{
   
    color: rgb(2, 2, 2);
   margin-top: 30px;
    margin-left: 30px;
    font-size: 30px;
}

input{
    background-color: aliceblue;
    
}

button{
    background-color: aliceblue;
}

#result{
    color: white;
    font-size: 40px;
    margin-left: 30px;
}